@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    light --default,
    forest --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: oklch(37% 0.12 167);
  --color-secondary: teal;
}

@layer base {
  h1 {
    @apply mb-6 text-4xl font-bold;
  }
  h2 {
    @apply mb-4 text-3xl font-bold;
  }
  h3 {
    @apply mb-3 text-2xl font-semibold;
  }
  p {
    @apply mb-4 leading-relaxed;
  }
}
